<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">

    <!--搜索表单-->
    <el-form :inline="true" :model="brand" class="demo-form-inline">

        <el-form-item label="当前状态">
            <el-select v-model="brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="企业名称">
            <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>

        <el-form-item label="品牌名称">
            <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->

    <el-row>

        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="popUpForm('add',row)">新增</el-button>

    </el-row>

    <!--增加添加数据 or  修改数据对话框表单       修改具有数据回显功能-->
    <!--黑马教的插值表达式的写法，注意:title前面的引号  这样才能动态变化标题  <a v-bind:herf="url">简写为 <a :herf="url"> 这样就动态变化了    -->

    <el-dialog
             :title='titleMap[dialogTitle]'
            :visible.sync="dialogVisible"
            width="30%"
    >
        <!--偷懒，就不建立新的模型了，修改数据的时候背景的数据显示在修改，取消的时候我设置了重新查询一次所以不影响。-->
        <el-form ref="form" :model="brand"  class="demo-brand" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand.brandName"></el-input>
            </el-form-item>

            <el-form-item label="企业名称">
                <el-input v-model="brand.companyName"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch v-model="brand.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="AddOrUpdatesubmit">提交</el-button>
                <el-button @click="dialogVisible = false;selectAll()">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="brandName"
                    label="品牌名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="statusStr"
                    align="center"
                    label="当前状态">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">

                <el-row slot-scope="scope">
                    <el-button type="primary" @click="popUpForm('update',scope.row)">修改</el-button>
                    <!--<el-button type="danger" @click="deleteById(scope.$index, scope.row)">删除</el-button>-->
                    <el-button type="danger" @click="deleteById(scope.row) ">删除</el-button>
                </el-row>

            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectAll();
            /*
            //当页面 加载完成 发送异步请求获取数据
            var _this = this;//提升

            axios({
                method: "get",
                url: "http://localhost:8080/brand-case/selectAllServlet"
            }).then(function (resp) {
                _this.tableData = resp.data;
            })
             */
        },

        methods: {

            // 查询所有数据的方法     现在改为查询分页数据
            selectAll() {
                /*  var _this = this;//提升

                  axios({
                      method: "get",
                      url: "http://localhost:8080/brand-case/brand/selectAll"
                  }).then(function (resp) {
                      _this.tableData = resp.data;
                  })

                 */

                /*
                var _this = this;//提升
                // 在then里面不可以用this  then外面可以
                axios({
                    method: "post",
                    url: "http://localhost:8080/brand-case/brand/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                    data: this.brand
                }).then(function (resp) {
                    // 设置表格数据
                    _this.tableData = resp.data.rows;  //{rows:{},totalCount=100}
                    // 设置总记录数
                    _this.totalCount = resp.data.totalCount;
                })

                 */

                // 优化前端代码  不再需要var _this = this;
                this.brand = {};  //清空品牌
                axios({
                    method: "post",
                    url: "http://localhost:8080/brand-case/brand/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.brand
                }).then(resp => {
                    // 箭头函数里面的this可以代表vue的对象
                    this.tableData = resp.data.rows;  //{rows:{},totalCount=100}
                    // 设置总记录数
                    this.totalCount = resp.data.totalCount;
                })

            },

            // 取余，修改表格涂色
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 == 1) {
                    return 'warning-row';
                } else if (rowIndex % 4 == 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            // 查询方法
            onSubmit() {
                this.selectAll();
            },


            //分页
            handleSizeChange(val) {
                // 重新设置每页显示的条数
                this.pageSize = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.selectAll();
            },

            // 批量删除
            deleteByIds() {

                // console.log(this.multipleSelection);  一个个brand对象
                /*
                [
                    {
                        "brandName": "华为",
                        "companyName": "华为技术有限公司",
                        "description": "万物互联",
                        "id": 1,
                        "ordered": 100,
                        "status": 1,
                        "statusStr": "启用"
                    },
                    {
                        "brandName": "小米",
                        "companyName": "小米科技有限公司",
                        "description": "are you ok",
                        "id": 2,
                        "ordered": 50,
                        "status": 1,
                        "statusStr": "启用"
                    }
                ]
                 */

                // 确认删除弹窗

                this.$confirm('此操作将删除所选, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 用户点击确认按钮

                    // 1、创建id数组[1,2,3]  从this.multipleSelection 中获取
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;
                    }
                    // 2、发送ajax请求

                    var _this = this;
                    // console.log(this.brand);
                    //     发送ajax异步请求，添加数据
                    axios({

                        method: "POST",
                        url: "http://localhost:8080/brand-case/brand/deleteByIds",
                        data: _this.selectedIds
                    }).then(function (resp) {
                        if (resp.data == "success") {
                            // 删除成功

                            //     关闭窗口
                            _this.dialogVisible = false;
                            // 重新查询数据
                            _this.selectAll();

                            // 弹出消息提示
                            _this.$message({
                                message: '数据批量删除成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    // 用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            // 删除单个

            // deleteById(index,row) {        实测 deleteById(row) {  也一样成功
            deleteById(row) {
                //删除的对象的id
                //弹出确认删除的提示框
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var _this = this;

                    //用户点击确认按钮
                    //发送ajax请求
                    axios({
                        method: "get",
                        url: "http://localhost:8080/brand-case/brand/deleteById?id=" + row.id,//get方法
                        //url: "http://localhost:8080/brand-case/brand/deleteById",   //post方法
                        // data:row.id   //post方法用的
                    }).then(function (resp) {
                        if (resp.data == "success") {
                            //表示删除成功
                            //刷新页面,重新查询数据
                            _this.selectAll();
                            //弹出消息提示
                            _this.$message({
                                message: '删除成功!',
                                type: 'success'
                            });
                        }
                    })

                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            // 判断我要弹出一个什么样的表单 是修改还是新增
            popUpForm(methodType, row) {
                this.brand = row;
                console.log(row.id);
                this.dialogVisible = true;
                if (methodType == 'add') {
                    this.brand = {};  //清空品牌
                    this.dialogTitle = "add";
                }
                if (methodType == 'update') {
                    this.brand = row; //回显当前行品牌
                    this.dialogTitle = "update";
                }
                // console.log(this.brand);
            },
            AddOrUpdatesubmit() {
                if (this.dialogTitle == "add") {
                    var _this = this;
                    axios({
                        method: "POST",
                        url: "http://localhost:8080/brand-case/brand/add",
                        data: _this.brand
                    }).then(resp => {
                        if (resp.data == "success") {
                            //添加成功
                            _this.selectAll();
                            //关闭窗口
                            _this.dialogVisible = false;
                            //添加成功提示
                            _this.success("数据添加");
                        }
                    })
                } else if (this.dialogTitle == "update") {
                    console.log(this.brand);
                    var _this = this;
                    axios({
                        method: "POST",
                        url: "http://localhost:8080/brand-case/brand/updateByBrand",
                        data: _this.brand
                    }).then(function (resp) {
                        if (resp.data == "success") {
                            //修改成功
                            _this.dialogVisible = false;
                            _this.selectAll();
                            _this.success("数据修改");
                        }
                    })
                }
            },

            //成功提示
            success(string) {
                this.selectAll();
                this.$message({
                    message: string + '成功!',
                    type: 'success'
                });
            },

        },

        data() {
            return {
                //合并了添加和修改的弹出框，  修改可以回显
                dialogTitle:"",

                titleMap: {
                    add: "添加数据",
                    update: "修改数据"
                },

                // 删除单个
                row: {},
                index: 0,
                // 每页显示的条数
                pageSize: 5,
                // 总记录数
                totalCount: 100,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                // 被选中的id数组
                selectedIds: [],
                //数据后面的删除按钮
                selectedId: null,
                // 品牌模型数据
                brand: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id: "",
                    ordered: "",
                    description: ""
                },
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据

                tableData: [{
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }]
            }
        }
    })

</script>

</body>
</html>